.sent {
  background-color: aquamarine;
}

.recieved {
  background-color: blueviolet;
  color: white
}

.private-chats {
  position: fixed;
  bottom: 0;
  right: 0;
}

.private-chat {
  width: 300px;
  margin: 0 10px;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
  color: rgb(42, 48, 54);
  border:rgb(226, 226, 226) solid 1px;
}

.chat-header {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px -2px 20px #888888
}

.chat-header * {
  display: inline-block;
}

.partner-name {
  flex: 1;
}

.chat-content {
  padding: 20px;
}

.close {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: tomato;
  color: white;
  cursor: pointer;
}